version: '3.8'

services:
  app:
    build: .
    container_name: dashboard_sentimen_app
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped